<div class="side-nav">
  <mat-drawer-container class="example-container" autosize>
    <mat-drawer #drawer class="sidePanelAbierto bounceIn bg-dark" id="sidenavPanel" mode="side" [opened]='true'>
      <div class="d-flex align-items-center justify-content-center"
           style="margin:0; min-height: 4.8rem; background-color: #fd7e14 !important;">
        <div class="text-light" style="font-size: 2rem;">FirePlay</div>
      </div>
      <mat-list class="pt-2 text-center align-middle">
        <div class="container-fluid d-flex align-items-center justify-content-center mt-n2"
             style="min-height: 5rem; background-color: rgba(255,255,255,0.1)">
          <input type="text" placeholder="Buscar"
                 style="min-height: 2rem; border-radius: 50px; border: none; padding: 0.5rem;">
        </div>
        <h3 mat-subheader style="color: lightgrey;">Géneros</h3>
        <div class="container-fluid" style="max-height: 30rem; overflow: auto;">
          <a data-toggle="collapse" href="#accionToggle" aria-expanded="false" aria-controls="accionToggle"
             aria-expanded="false" role="button" matTooltip="Accion" class="onHover mx-auto" mat-list-item
             style="text-decoration: none;">
            <i matListIcon class="mx-auto fas fa-crosshairs text-light"></i>
            <h3 matLine class="text-light"> Acción </h3>
          </a>
          <div class="collapse multi-collapse" id="accionToggle">
            <a class="onHover mx-auto" mat-list-item style="text-decoration: none;">
              <h3 matLine class="text-light">
                Nuevo
              </h3>
            </a>
            <a class="onHover mx-auto" mat-list-item style="text-decoration: none;">
              <h3 matLine class="text-light">
                Popular
              </h3>
            </a>
            <a class="onHover mx-auto" mat-list-item style="text-decoration: none;">
              <h3 matLine class="text-light">
                Proximamente
              </h3>
            </a>
          </div>
          <a matTooltip="Animacion" class="onHover mx-auto" mat-list-item style="text-decoration: none;">
            <i matListIcon class="mx-auto fas fa-baby text-light"></i>
            <h3 matLine class="text-light"> Animación </h3>
          </a>
          <a matTooltip="Aventura" class="onHover mx-auto" mat-list-item style="text-decoration: none;">
            <i matListIcon class="mx-auto fas fa-suitcase-rolling text-light"></i>
            <h3 matLine class="text-light"> Aventura </h3>
          </a>
          <a matTooltip="Ciencia Ficcion" class="onHover mx-auto" mat-list-item style="text-decoration: none;">
            <i matListIcon class="mx-auto fas fa-user-astronaut text-light"></i>
            <h3 matLine class="text-light"> Ciencia Ficción </h3>
          </a>
          <a matTooltip="Comedia" class="onHover mx-auto" mat-list-item style="text-decoration: none;">
            <i matListIcon class="mx-auto fas fa-laugh-squint text-light"></i>
            <h3 matLine class="text-light"> Comedia </h3>
          </a>
          <a matTooltip="Crimen" class="onHover mx-auto" mat-list-item style="text-decoration: none;">
            <i matListIcon class="mx-auto fas fa-user-ninja text-light"></i>
            <h3 matLine class="text-light"> Crimen </h3>
          </a>
          <a matTooltip="Documental" class="onHover mx-auto" mat-list-item style="text-decoration: none;">
            <i matListIcon class="mx-auto fas fa-book text-light"></i>
            <h3 matLine class="text-light"> Documentales </h3>
          </a>
          <a matTooltip="Drama" class="onHover mx-auto" mat-list-item style="text-decoration: none;">
            <i matListIcon class="mx-auto fas fa-theater-masks text-light"></i>
            <h3 matLine class="text-light"> Drama </h3>
          </a>
          <a matTooltip="Familia" class="onHover mx-auto" mat-list-item style="text-decoration: none;">
            <i matListIcon class="mx-auto fas fa-users text-light"></i>
            <h3 matLine class="text-light"> Familia </h3>
          </a>
          <a matTooltip="Fantasia" class="onHover mx-auto" mat-list-item style="text-decoration: none;">
            <i matListIcon class="mx-auto fas fa-dragon text-light"></i>
            <h3 matLine class="text-light"> Fantasía </h3>
          </a>
          <a matTooltip="Guerra" class="onHover mx-auto" mat-list-item style="text-decoration: none;">
            <i matListIcon class="mx-auto fas fa-jedi text-light"></i>
            <h3 matLine class="text-light"> Guerra </h3>
          </a>
          <a matTooltip="Historia" class="onHover mx-auto" mat-list-item style="text-decoration: none;">
            <i matListIcon class="mx-auto fas fa-history text-light"></i>
            <h3 matLine class="text-light"> Historia </h3>
          </a>
          <a matTooltip="Misterio" class="onHover mx-auto" mat-list-item style="text-decoration: none;">
            <i matListIcon class="mx-auto fas fa-search text-light"></i>
            <h3 matLine class="text-light"> Misterio </h3>
          </a>
          <a matTooltip="Pelicula de TV" class="onHover mx-auto" mat-list-item style="text-decoration: none;">
            <i matListIcon class="mx-auto fas fa-tv text-light"></i>
            <h3 matLine class="text-light"> Pelicula de TV </h3>
          </a>
          <a matTooltip="Romance" class="onHover mx-auto" mat-list-item style="text-decoration: none;">
            <i matListIcon class="mx-auto fas fa-grin-hearts text-light"></i>
            <h3 matLine class="text-light"> Romance </h3>
          </a>
          <a matTooltip="Suspenso" class="onHover mx-auto" mat-list-item style="text-decoration: none;">
            <i matListIcon class="mx-auto fas fa-dizzy text-light"></i>
            <h3 matLine class="text-light"> Suspenso </h3>
          </a>
          <a matTooltip="Terror" class="onHover mx-auto" mat-list-item style="text-decoration: none;">
            <i matListIcon class="mx-auto fas fa-skull-crossbones text-light"></i>
            <h3 matLine class="text-light"> Terror </h3>
          </a>
          <a matTooltip="Western - Occidental" class="onHover mx-auto" mat-list-item style="text-decoration: none;">
            <i matListIcon class="mx-auto fas fa-mountain text-light"></i>
            <h3 matLine class="text-light"> Western - Occidental </h3>
          </a>
        </div>
        <mat-divider style="color: gold;"></mat-divider>
      </mat-list>
      <!--<div class="container-fluid text-center position-sticky fixed-bottom" style="background-color: gray;">
        <button mat-icon-button class="mx-auto" matTooltip="Contraer">
          <mat-icon class="text-light mx-auto">arrow_back_ios</mat-icon>
        </button>
      </div>-->
    </mat-drawer>
    <mat-drawer-content class="example-sidenav-content">
      <app-navbar></app-navbar>
      <router-outlet></router-outlet>
    </mat-drawer-content>
  </mat-drawer-container>
</div>
