<div class="app-nav-bar">
  <nav class="navbar navbar-expand-lg navbar-dark ml-n2">
    <div class="container">
      <!--<a class="navbar-brand" href="#">
        <img src="https://getbootstrap.com/docs/4.3/assets/brand/bootstrap-solid.svg" width="40" height="40" alt="">
      </a>-->
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
              aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link active" href="#">Peliculas</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Series</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Ánime</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Novelas</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#" tabindex="-1" aria-disabled="true">TV en Vivo</a>
          </li>
        </ul>
        <div class="form-inline my-2 my-lg-0">
          <button mat-icon-button class="mr-3">
            <mat-icon class="text-white">search</mat-icon>
          </button>
          <a class="navbar-brand" href="#">
            <img class="rounded-circle" src="https://getbootstrap.com/docs/4.3/assets/brand/bootstrap-solid.svg"
                 width="50"
                 height="50" alt="Avatar">
          </a>
        </div>
      </div>
    </div>
  </nav>
</div>
