.home {
  background-color: #343a40;
  min-height: 200vh;

  nav {
    background-color: #ff6f00 !important;
    z-index: 999;
  }

  .carousell-img {
    min-height: 50vh;
    max-height: 50vh;
  }

  #carousell-peliculas {
    // margin-top: -5.5rem;
    max-height: 50vh;
  }

  .active {
    color: gold !important;
  }

  .carta {
    border-radius: 20px;

  }

  .mat-card {
    box-shadow: none !important;
  }

}
