.home {
  background-color: #343a40;
  min-height: 200vh;

  nav {
    background-color: rgba(0, 0, 0, 0.25) !important;
    z-index: 999;
  }

  .carousell-img {
    min-height: 80vh;
    max-height: 80vh;
  }

  #carousell-peliculas {
    margin-top: -5.5rem;
    max-height: 80vh;
  }

  .nav-link {
    color: white !important;
    font-size: 1.3rem;
    margin-right: 1rem;
    margin-left: 1rem;
  }

  .active {
    color: gold !important;
  }

  .carta {
    border: transparent;
    border-radius: 20px;
  }

}
