<div class="home">
  <div id="carousell-peliculas" class="carousel slide carousel-fade" data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active" style="position: inherit;">
        <img
          src="https://image.tmdb.org/t/p/original/3C4o2ozlFAfCgx5T0mC1XKHoeUM.jpg"
          class="d-block w-100 carousell-img" alt="Toy Story 4 Banner">
        <div class="container-fluid"
             style="background-color: rgba(0,0,0,0.5); margin-top: -5rem; z-index: 999 !important; position: relative !important;">
          <div class="display-4 text-white">300 El Nacimiento de un Imperio</div>
          <button matTooltip="Reproducir Pelicula" mat-fab class="bg-warning float-right"
                  style="margin-top: -6rem; margin-right: 10rem;">
            <mat-icon class="text-dark">play_arrow</mat-icon>
          </button>
        </div>
      </div>
      <div class="carousel-item">
        <img
          src="https://image.tmdb.org/t/p/original/wVTYlkKPKrljJfugXN7UlLNjtuJ.jpg"
          class="d-block w-100 carousell-img" alt="El Rey León Banner">
        <div class="container-fluid"
             style="background-color: rgba(0,0,0,0.5); margin-top: -5rem; z-index: 999 !important; position: relative !important;">
          <div class="display-4 text-white">Agente 007 Spectre</div>
          <button matTooltip="Reproducir Pelicula" mat-fab class="bg-warning float-right"
                  style="margin-top: -6rem; margin-right: 10rem;">
            <mat-icon class="text-dark">play_arrow</mat-icon>
          </button>
        </div>
      </div>
      <div class="carousel-item">
        <img
          src="https://image.tmdb.org/t/p/original/9QusGjxcYvfPD1THg6oW3RLeNn7.jpg"
          class="d-block w-100 carousell-img" alt="Aquaman">
        <div class="container-fluid"
             style="background-color: rgba(0,0,0,0.5); margin-top: -5rem; z-index: 999 !important; position: relative !important;">
          <div class="display-4 text-white">Aquaman</div>
          <button matTooltip="Reproducir Pelicula" mat-fab class="bg-warning float-right"
                  style="margin-top: -6rem; margin-right: 10rem;">
            <mat-icon class="text-dark">play_arrow</mat-icon>
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="container-fluid m-2">
    <h4 mat-subheader class="text-light">Todas las Peliculas</h4>
    <mat-divider></mat-divider>
  </div>
  <div class="container-fluid p-2">
    <div class="row p-2">
      <div class="col-sm-12 col-md-3 col-lg-3 col-xl-3">
        <app-movie-card></app-movie-card>
      </div>
      <div class="col-sm-12 col-md-3 col-lg-3 col-xl-3">
        <app-movie-card></app-movie-card>
      </div>
      <div class="col-sm-12 col-md-3 col-lg-3 col-xl-3">
        <app-movie-card></app-movie-card>
      </div>
      <div class="col-sm-12 col-md-3 col-lg-3 col-xl-3">
        <app-movie-card></app-movie-card>
      </div>
      <div class="col-sm-12 col-md-3 col-lg-3 col-xl-3">
        <app-movie-card></app-movie-card>
      </div>
      <div class="col-sm-12 col-md-3 col-lg-3 col-xl-3">
        <app-movie-card></app-movie-card>
      </div>
      <div class="col-sm-12 col-md-3 col-lg-3 col-xl-3">
        <app-movie-card></app-movie-card>
      </div>
      <div class="col-sm-12 col-md-3 col-lg-3 col-xl-3">
        <app-movie-card></app-movie-card>
      </div>
      <div class="col-sm-12 col-md-3 col-lg-3 col-xl-3">
        <app-movie-card></app-movie-card>
      </div>
      <div class="col-sm-12 col-md-3 col-lg-3 col-xl-3">
        <app-movie-card></app-movie-card>
      </div>
      <div class="col-sm-12 col-md-3 col-lg-3 col-xl-3">
        <app-movie-card></app-movie-card>
      </div>
      <div class="col-sm-12 col-md-3 col-lg-3 col-xl-3">
        <app-movie-card></app-movie-card>
      </div>
    </div>
  </div>
</div>
